<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="franka_combined">
  <xacro:macro name="franka_robot" params="arm_id joint_limits parent:='world' xyz:='0 0 0' rpy:='0 0 0' gazebo:=false camera:=true tcp_xyz:='0 0 0.1034' tcp_rpy='0 0 0'">

    <!-- Include Franka utils and arm -->
    <xacro:include filename="$(find franka_description)/robots/common/utils.xacro" />
    <xacro:include filename="$(find franka_description)/robots/common/franka_arm.xacro" />

    <!-- Create the robot arm -->
    <xacro:franka_arm arm_id="${arm_id}" safety_distance="0.03" gazebo="${gazebo}" joint_limits="${joint_limits}"/>

    <!-- Cobot Pump End Effector -->
    <!-- Fixed Joint from Arm to Pump -->
    <joint name="${arm_id}_cobot_pump_joint" type="fixed">
      <parent link="${arm_id}_link8"/>
      <child link="${arm_id}_cobot_pump"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <!-- EE Main Link -->
    <link name="${arm_id}_cobot_pump">
      <visual name="${arm_id}_cobot_pump_visual">
        <geometry>
          <mesh filename="package://franka_description/meshes/robot_ee/cobot_pump/visual/cobot_pump.dae"/>
        </geometry>
      </visual>
      <collision name="${arm_id}_cobot_pump_collision">
        <geometry>
          <mesh filename="package://franka_description/meshes/robot_ee/cobot_pump/collision/cobot_pump.stl"/>
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0 0 0.063" rpy="0 0 0"/>
        <mass value="1.01"/>
        <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
      </inertial>
    </link>

    <!-- Optional Self-Collision Link -->
    <link name="${arm_id}_cobot_pump_sc">
      <collision name="${arm_id}_cobot_pump_sc_capsule1">
        <origin xyz="0 0 0.04" rpy="1.5708 0 0"/>
        <geometry>
          <cylinder radius="${0.04 + 0.03}" length="0.1"/>
        </geometry>
      </collision>
      <collision name="${arm_id}_cobot_pump_sc_capsule2">
        <origin xyz="0 0 0.10" rpy="1.5708 0 0"/>
        <geometry>
          <cylinder radius="${0.02 + 0.03}" length="0.1"/>
        </geometry>
      </collision>
    </link>

    <!-- Joint connecting self-collision geometry -->
    <joint name="${arm_id}_cobot_pump_sc_joint" type="fixed">
      <parent link="${arm_id}_cobot_pump"/>
      <child link="${arm_id}_cobot_pump_sc"/>
      <origin rpy="0 0 0"/>
    </joint>

    <!-- TCP Link -->
    <link name="${arm_id}_cobot_pump_tcp"/>
    <joint name="${arm_id}_cobot_pump_tcp_joint" type="fixed">
      <parent link="${arm_id}_cobot_pump"/>
      <child link="${arm_id}_cobot_pump_tcp"/>
      <origin xyz="0 0 0.105" rpy="0 0 0"/>
    </joint>

    <!-- Define additional Gazebo tags -->
    <xacro:if value="${gazebo}">

      <xacro:if value="${parent != ''}">
        <!-- Gazebo requires a joint to a link called "world" for statically mounted robots -->
        <xacro:if value="${parent == 'world'}">
          <link name="${parent}" />
        </xacro:if>
        <joint name="${parent}_joint" type="fixed">
          <origin xyz="${xyz}" rpy="${rpy}" />
          <parent link="${parent}" />
          <child  link="${arm_id}_link0" />
        </joint>
      </xacro:if>

      <xacro:gazebo-joint joint="${arm_id}_joint1" transmission="hardware_interface/PositionJointInterface" />
      <xacro:gazebo-joint joint="${arm_id}_joint2" transmission="hardware_interface/PositionJointInterface" />
      <xacro:gazebo-joint joint="${arm_id}_joint3" transmission="hardware_interface/PositionJointInterface" />
      <xacro:gazebo-joint joint="${arm_id}_joint4" transmission="hardware_interface/PositionJointInterface" />
      <xacro:gazebo-joint joint="${arm_id}_joint5" transmission="hardware_interface/PositionJointInterface" />
      <xacro:gazebo-joint joint="${arm_id}_joint6" transmission="hardware_interface/PositionJointInterface" />
      <xacro:gazebo-joint joint="${arm_id}_joint7" transmission="hardware_interface/PositionJointInterface" />

      <xacro:gazebo-joint joint="${arm_id}_joint1" transmission="hardware_interface/VelocityJointInterface" />
      <xacro:gazebo-joint joint="${arm_id}_joint2" transmission="hardware_interface/VelocityJointInterface" />
      <xacro:gazebo-joint joint="${arm_id}_joint3" transmission="hardware_interface/VelocityJointInterface" />
      <xacro:gazebo-joint joint="${arm_id}_joint4" transmission="hardware_interface/VelocityJointInterface" />
      <xacro:gazebo-joint joint="${arm_id}_joint5" transmission="hardware_interface/VelocityJointInterface" />
      <xacro:gazebo-joint joint="${arm_id}_joint6" transmission="hardware_interface/VelocityJointInterface" />
      <xacro:gazebo-joint joint="${arm_id}_joint7" transmission="hardware_interface/VelocityJointInterface" />

      <xacro:gazebo-joint joint="${arm_id}_joint1" transmission="hardware_interface/EffortJointInterface" />
      <xacro:gazebo-joint joint="${arm_id}_joint2" transmission="hardware_interface/EffortJointInterface" />
      <xacro:gazebo-joint joint="${arm_id}_joint3" transmission="hardware_interface/EffortJointInterface" />
      <xacro:gazebo-joint joint="${arm_id}_joint4" transmission="hardware_interface/EffortJointInterface" />
      <xacro:gazebo-joint joint="${arm_id}_joint5" transmission="hardware_interface/EffortJointInterface" />
      <xacro:gazebo-joint joint="${arm_id}_joint6" transmission="hardware_interface/EffortJointInterface" />
      <xacro:gazebo-joint joint="${arm_id}_joint7" transmission="hardware_interface/EffortJointInterface" />

      <xacro:if value="${camera}">
        <link name="${arm_id}_camera_link_fix"/>
        <joint name="${arm_id}_camera_joint_fix" type="fixed">
          <parent link="${arm_id}_link7"/>
          <child link="${arm_id}_camera_link_fix"/>
          <origin xyz="0 0 0" rpy="0 0 ${-pi/4}"/>
        </joint>
        <xacro:include filename="$(find franka_description)/robots/common/depth_camera.urdf.xacro" />
        <xacro:depth_camera arm_id="${arm_id}" connected_to="${arm_id}_camera_link_fix" pos="0.055 0.0 0.15"/>
      </xacro:if>

      <xacro:transmission-franka-state arm_id="${arm_id}" />
      <xacro:transmission-franka-model arm_id="${arm_id}"
         root="${arm_id}_joint1"
         tip="${arm_id}_joint8"
       />

      <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
          <controlPeriod>0.001</controlPeriod>
          <robotSimType>franka_gazebo/FrankaHWSim</robotSimType>
        </plugin>
        <self_collide>true</self_collide>
      </gazebo>
    </xacro:if>

  </xacro:macro>
</robot>
